include includes/head.pug

body
    .section
        h1.title What is Banano, anyway?
        h2.subtitle OK, well obviously it's banana-based. But that doesn't explain anything!
        p
            | Banano (abbreviated as BAN) is a feeless, fast, community-centered cryptocurrency. 
            | It uses DAG block-lattice technology, allowing for fast, secure, and scalable transactions.
            | Additionally, there is no traditional mining like Bitcoin or Ethereum. Every transaction has its own (very small) proof of work. 
            | That's all some real complicated math, so I'm not going to explain it to you (it's the cryptography part of cryptocurrency), 
            | but all you need to know is that it works.
        br
        p
            | Unlike other cryptocurrencies, Banano is distributed mainly by the community. You can still buy it with other crypto, but
            | it's mainly airdropped for participation in the community. You can also get it right here, by sending a picture of a banana.
        br
        p
            | Why is the mascot a banana? Excellent question. I'm not sure either. Thanks for attending my TED talk.

include includes/footer.pug
