include includes/head.pug
body
    .section.container
        article.message.is-warning
            .message-header
                p You claimed too recently.
            .message-body
                p(id='msgBody')
                    

include includes/footer.pug

script.
    const localTime = new Date(#{cooldownTime}).toLocaleTimeString()
    document.getElementById('msgBody').textContent = 'Try again at ' + localTime + '!'
