include includes/head.pug
body
    .section
        .container
            h1.title(style='display:flex') Banano Forager
                img(src='https://banano.cc/presskit/banano-icon.svg' width='40em' height='40em' style='margin-left:15px')
            h2.subtitle 1 Banana = 1 Banano
            article.message.is-danger
                .message-header
                    p Something went wrong.
                .message-body
                    p Reason: #{errorReason}

include includes/footer.pug