include head.pug
body
    .section
        .container
            h1.title Banano Scavenger
            h2.subtitle Funny faucet for funny monke coin
            article.message.is-danger
                .message-header
                    p Something went wrong.
                .message-body
                    p Reason: #{errorReason}

            include footer.pug