include includes/head.pug
body
    .section.container
        article.message.is-danger
            .message-header
                p Something went wrong.
            .message-body
                p Reason: #{errorReason}

include includes/footer.pug