hr
footer.footer
    .content.has-text-centered
        p
            strong banano-scavenger
            |  by 
            a(href='https://randomblock1.com') Randomblock1
            | . This project is 
            a(href='http://github.com/randomblock1/banano-scavenger') open source
            | . Powered by Node.js and TensorFlow, made with love, and created with 5 servings of Gfuel.