doctype html
head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css')
    title Banano Scavenger
body 
    .section 
        .container
            h1.title Banano Scavenger
            h2.subtitle Funny faucet for funny monke coin
            .content
                p DONATE HERE: ban_36onoscopiewrea67bwky9m64891hy7pan7n1jgqf5ijcmmi5iubzqj4t7hi
                p This is a Banano faucet that requires you to take a picture of a banana.
                p 1 Banana = #{faucetReward} BAN

            a.button.button.is-primary(href="/form") Send banana

            hr

        footer.footer
            .container
                .level
                    .level-left
                        a.title.is-4(href="/") banano-scavenger
                    .level-right
                        a.level-item(href="https://github.com/randomblock1/banano-scavenger") Source code