include includes/head.pug
body
    .section
        .container
            h1.title(style='display:flex') Banano Forager
                img(src='https://banano.cc/presskit/banano-icon.svg' width='40em' height='40em' style='margin-left:15px')
            h2.subtitle Funny faucet for funny monke coin
            .content
                p DONATE HERE: ban_1picturessx4aedsf59gm6qjkm6e3od4384m1qpfnotgsuoczbmhdb3e1zkh
                p Current faucet balance: #{balance} BAN
                p This is a Banano faucet that requires you to take a picture of a banana.
                p 1 Banana = #{faucetReward} BAN maximum
                p The more confident the AI is that it sees a banana, the more BAN you will receive. Try to keep the banana as the main focus of the image.
            form(method='POST' action='/' enctype="multipart/form-data")
                .box
                    .field
                        label.label Banano Address
                        .control.has-icons-left
                            input.input(name='address' type='text' placeholder='ban_1picturessx4aedsf59gm6qjkm6e3od4384m1qpfnotgsuoczbmhdb3e1zkh')
                            span.icon.is-small.is-left
                                i.fas.fa-qrcode
                        p.help Don't worry if you mistype it. The faucet double-checks.

                    .field
                        label.label Banana Photo
                        #fileInput.file.has-name.is-fullwidth
                            label.file-label
                                input.file-input(name="image" type="file" accept="image/png, image/jpeg, image/bmp, image/gif")
                                span.file-cta
                                    span.file-icon
                                        i.fa-solid.fa-image
                                    span.file-label Choose a file (5MB max)…
                                span.file-name
                        p.help Images are only temporarily stored, but the faucet keep some info to prevent duplicates.


                    .control
                        button.button.is-primary Submit

                hr

                include includes/footer.pug

script.
    const fileInput = document.querySelector('#fileInput input[type=file]');
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#fileInput .file-name');
        fileName.textContent = fileInput.files[0].name;
        }
    }