include includes/head.pug
body
    .section
        .container
            h1.title Banano Forager
            h2.subtitle Funny faucet for funny monke coin
            .content
                p DONATE HERE: ban_36onoscopiewrea67bwky9m64891hy7pan7n1jgqf5ijcmmi5iubzqj4t7hi
                p This is a Banano faucet that requires you to take a picture of a banana.
                p 1 Banana = #{faucetReward} BAN
            form(method='POST' action='/' enctype="multipart/form-data")
                .box
                    .field
                        label.label Banano Address
                        .control.has-icons-left
                            input.input(name='address' type='text' placeholder='ban_36onoscopiewrea67bwky9m64891hy7pan7n1jgqf5ijcmmi5iubzqj4t7hi')
                            span.icon.is-small.is-left
                                i.fas.fa-qrcode
                        p.help Don't worry if you mistype it. The faucet double-checks.

                    .field
                        label.label Banana Photo
                        #fileinput.file.has-name.is-fullwidth
                            label.file-label
                                input.file-input(name="image" type="file" accept="image/png, image/jpeg, image/bmp, image/gif")
                                span.file-cta
                                    span.file-icon
                                        i.fa-solid.fa-image
                                    span.file-label Choose a file (2MB max)…
                                span.file-name
                        p.help Images are only temporarily stored, but we keep some info to prevent duplicates.


                    .control
                        button.button.is-primary Submit

                hr

                include includes/footer.pug

script.
    const fileInput = document.querySelector('#fileinput input[type=file]');
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#fileinput .file-name');
        fileName.textContent = fileInput.files[0].name;
        }
    }