include includes/head.pug
body
    .section.container
        article.message.is-danger
            .message-header
                p That's not a banana.
            .message-body
                p Or maybe it is! Try again with a different photo in better lighting, a different angle, and a square aspect ratio.
                p Use a less-ripe banana if it sees a slug.
                p Not even I know why it is sometimes wrong. The AI is almost certainly dumber than an actual monkey.
                p Details: #{errorReason}

include includes/footer.pug