include includes/head.pug
body
    .section.container
        article.message.is-danger
            .message-header
                p That's not a banana.
            .message-body
                p Or maybe it is. Try again with a different photo in better lighting, and with a square aspect ratio.
                p Or try a different less-ripe banana, if it sees a slug. The AI is almost certainly dumber than an actual monkey.
                p Details: #{errorReason}

include includes/footer.pug