include head.pug
body
    .section
        .container
            h1.title Banano Forager
            h2.subtitle Funny faucet for funny monke coin
            article.message.is-success
                .message-header
                    p Your Banano has been sent.
                .message-body
                    p Transaction ID: #{transactionId}
                    p Sent #{amount} BAN to address #{address}
                    p Image classification result: #{result}

            include footer.pug